@charset "UTF-8";
/* ニュースページスタイル
---------------------------------------------------------------------------*/
.grid-container{
    backdrop-filter: blur(5px);
}
.news .grid {      /* ------------------------------------------------------------------- */
    padding: 50px;
    height: auto;
    width: 80vw;
	flex-wrap: rap;
    margin: 0 auto;
}
@media screen and (max-width:1024px) {
    .news .grid{width: 100vw;}
}

.img-case{
    width: 100%;
    height: auto;
}
.img-case img{
    width: 100%;
    height: auto;
}
.text-case{
    margin-top: -80px;

}
.text-case p{
    font-size: 1em;
    line-height: 17px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.text-case h1{
    margin-bottom: 40px;
    text-wrap: nowrap;
    font-size: 100px;
    text-align: left;
    line-height: 0;
    letter-spacing: -5px;
}
@media screen and (max-width:426px) {
    .news .grid{padding: 5px;}
}
@media screen and (max-width:321px) {
    .text-case h1{font-size: 60px;}
}