
.swiper{
    width: 90vw !important;
    margin: auto;
  }

.swiper2{
  max-width: 90vw !important;
  margin: auto;
  overflow: hidden;
}
.swiper3{
  max-width: 85vw !important;
  margin: auto;
  overflow: hidden;
}


  .swiper-button-prev,
.swiper-button-next {
  background-size: 24px 40px;
  transform: translateY(-50%);
}

/* 次ページボタンのスタイル */
.swiper-button-next {
background-image: url('../images/mark.svg');
transform: translateY(-50%) scale(-1, 1); /* 左右反転 */
}

/* 前ページボタンのスタイル */
.swiper-button-prev {
  background-image: url('../images/mark.svg');
  
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}
@media  screen and (max-width:768px) {
  .swiper-button-prev,
  .swiper-button-next {
    background-image: none;
  }
}


.swiper4{
  width: 90vw !important;
  margin: auto;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .swiper4 {
    height: 85vw;
    width: 80%;
  }
  .swiper4 .swiper-slide {
    height: 45%;
  }
  .swiper4 .swiper-slide img {
    height: auto;
    width: 100%;
  }
}

.swiper-button-next, .swiper-button-prev{
  position: absolute;
  top: 50;
}

.swiper-pagination {
  bottom: -8px !important;
}
