@charset "UTF-8";

.item_imgbox02{
    backdrop-filter: blur(5px);
}
.item_imgbox02{
       width: 100%;
    }
h1{ padding-bottom: 0px;  font-size: 60px;text-align: center;line-height: normal; letter-spacing: -3px;}
/* 769px以下 */
@media screen and (max-width:769px){
    .title{margin-bottom: 0px;}
    .text-case{margin-top: 0;}
    .video .top, .news .bottom{width: 90vw;margin: 0px auto 0 auto}
    .video .subcontents{width: 100vw; display: flex; flex-wrap: wrap; justify-content: space-around;}
    .video .subgrid{width: 90vw; padding: 5px;}
    h1{ padding-bottom: 0px;  font-size: 40px;text-align: center;line-height: normal; letter-spacing: -3px;}
}
@media screen and (max-width:700px){
.h1-collabo{margin: 10px 0 0px 0; line-height: normal;}
.h1-guest{margin: 0px 0 -0px 0; line-height: normal;}
.text-case h1{padding: 0; letter-spacing: -3px;}
.scroll_box{margin: 0;}
}
/* 426px以下 */
@media screen and (max-width:530px) {
    .text-case h1{font-size: 40px;}

}
/* 321px以下 */
@media screen and (max-width:321px) {
    .text-case h1{font-size: 40px;}
}