/* ここにCSSを記述してください */

  /* リセットCSS */
  body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }

  /* 一般的なスタイル */
  body {
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }

  nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }

  section {
    padding: 20px;
  }

  footer {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
  }

  /* レスポンシブデザイン */
  @media screen and (max-width: 600px) {
    nav {
      display: none;
    }

    /*ハンバーガーメニューCSS*/
@keyframes bugfix {
    from {
      padding: 0;
    }
  
    to {
      padding: 0;
    }
  }
  
  @-webkit-keyframes bugfix {
    from {
      padding: 0;
    }
  
    to {
      padding: 0;
    }
  }
  
  #overlay-button {
    position: absolute;
    right: 3em;
    top: 3em;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
  }
  
  #overlay-button span {
    height: 5px;
    width: 38px;
    border-radius: 2px;
    background-color: #828282;
    position: fixed;
    display: block;
    transition: all .2s ease-in-out;
  }
  
  #overlay-button span:before {
    top: -10px;
    visibility: visible;
  }
  
  #overlay-button span:after {
    top: 10px;
  }
  
  #overlay-button span:before,
  #overlay-button span:after {
    height: 5px;
    width: 38px;
    border-radius: 2px;
    background-color: #828282;
    position: absolute;
    content: "";
    transition: all .2s ease-in-out;
  }
  
  #overlay-button:hover span,
  #overlay-button:hover span:before,
  #overlay-button:hover span:after {
    background: #828282;
  }
  
  input[type=checkbox] {
    display: none;
  
  }
  
  input[type=checkbox]:checked~#overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked~#overlay-button:hover span,
  input[type=checkbox]:checked~#overlay-button span {
    background: transparent;
  
  
  }
  
  input[type=checkbox]:checked~#overlay-button span:before {
    transform: rotate(45deg) translate(7px, 7px);
  
  }
  
  input[type=checkbox]:checked~#overlay-button span:after {
    transform: rotate(-45deg) translate(7px, -7px);
  
  
  }
  
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #4e4e4e;
    z-index: 3;
    visibility: hidden;
    position: fixed;
  }
  
  #overlay img {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
  }
  
  /*#overlay.active {
    }*/
  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
  }
  
  #overlay ul li {
    padding: 1em;
  }
  
  #overlay ul li a:hover {
    color: #000000 !important;
  }
  }