@charset "UTF-8";
/*list
---------------------------------------------------------------------------*/
.list-container {
	display: flex;
	flex-wrap: wrap;
}
.list {
	height: 0;
	width: 23%;
	padding-top: 23%;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	margin: 1%;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
.list a {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.list img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	transition: 0.5s;
}
.list img:hover {
	transform: scale(1.1);
}